@import '../../style/colors.scss';

.contact-section{
    background-color: $color-primary;
    padding : 50px 0;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      .contact-us-email{
        text-align: center;
        >.title{
          font-size: 24px;
          font-weight: 600;
          color : $color-primaryDark;
          margin-bottom: 10px;
          
        }
        >.email{
          font-size: 24px;
          font-weight: 400;
          color: #fff;
        }
      }
      .contact-us-wa{
        text-align: center;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a{
          color: #fff;
        }
        >.img-wa{
          width: 40px;
          margin-right: 20px;
        }
        >.wa-number{
        display: inline;
        font-size: 24px;
        font-weight: 400;
        color: #fff;
       }
      }
    }
  
  }


  @media (min-width:800px){
    .contact-section{
        .container{
          flex-direction: row;
          .contact-us-email{
            float: left;
            text-align: left;
          }
          .contact-us-wa{
            margin-top: 0;
            float : right;
            justify-content: end;
          }
        }
    }
  }